- tj_include_partial("partials/header")

%section.main__wrapper
  %main.main.main--single
    .content
      - if ( have_posts() )
        - the_post()

        - if ( has_post_thumbnail() )
          %img(src="#{tj_featured_image()}" alt="#{tj_title()}")

        %h1= tj_title()

        %aside.meta
          %span.meta__date= the_time("F j, Y")

        = the_content()

    - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/footer")
